<!DOCTYPE html>

 <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
{% autoescape true %}
<html>
  <body>
      
      The Current Topic Is: {{guestbook_name}}
      
      <br><br>
      
    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.nickname() }}</b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content }}</blockquote>
    {% endfor %}

    <form action="/sign?guestbook_name={{ guestbook_name }}" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Leave a message"></div>
    <hr><hr>
        <br>
      
    </form>

    <form> Topics:
        <select name = "guestbook_name">
            <option value="action">Action</option>
            <option value="horror">Horror</option>
            <option value="comedy">Comedy</option>
        </select>
          <input type="submit" value = "switch">
      </form>
    <hr>
 <hr>
      
    <a href="{{ url|safe }}">{{ url_linktext }}</a>

  </body>
</html>
{% endautoescape %}
